@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

.bg-gradient {
  background-image: linear-gradient(white, pink);
}

body {
  background-color: pink;
  font-family: Monoton, sans serif;
  color: white;
  font-weight: 400;
}

#fire-container {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -1;
}

#loading-screen {
  background-color: pink;
  position: absolute;
  height: 100%;
  width: 100%;
}

#loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
}

.btn-naked {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  font-weight: inherit;
}

.btn-naked:focus {
  outline: none;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

#footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}

.grow {
    animation: grow 1s ease-in-out infinite alternate;
    -webkit-animation: grow 1s ease-in-out infinite alternate;
}

@keyframes grow {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
    }
}

.play-active {
  animation: play-active 0.46975s ease-in-out infinite alternate;
    -webkit-animation: play-active 0.46975s ease-in-out infinite alternate;
}

@keyframes play-active {
  0% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(1.0);
  }
}

.bounce:nth-child(1){
  animation: bounce 1600ms ease-in-out 10ms infinite;
}
.bounce:nth-child(2){
  animation: bounce 1600ms ease-in-out 400ms infinite;
}
.bounce:nth-child(3){
  animation: bounce 1600ms ease-in-out 10ms infinite;
}
@keyframes bounce {
  0%,100% {
    transform: translateY(0px);
  }
  20%,80% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
}

.fade {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.fade-out {
  visibility: hidden!important;
  opacity: 0!important;
}